# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Test Results
[Rr]esult*/

# Visual Studo 2015 cache/options directory
.vs/
*.user
/containers/AllProjects.sln
*.pubxml
