<h1>{{actionType}} Advisor</h1>
<form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
  <div class="form-group row">
    <label class=" control-label col-md-12">First Name</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="firstName">
    </div>
    <span class="text-danger ml-3" *ngIf="firstName.invalid && formDir.submitted">
      First Name is required.
    </span>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Last Name</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="lastName">
    </div>
    <span class="text-danger ml-3" *ngIf="lastName.invalid && formDir.submitted">
      Last Name is required.
    </span>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12" for="Body">Address</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="address">
    </div>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Phone</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="phone">
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success float-right">Save</button>
    <button class="btn btn-secondary float-left" (click)="cancel()">Cancel</button>
  </div>
</form>
