<h1>MGA</h1>

<p *ngIf="!(models$ | async)"><em>Loading...</em></p>
<p>
  <a [routerLink]="['/mga/add']" class="btn btn-primary float-right mb-3">New</a>
</p>

<table class="table table-sm table-hover" *ngIf="(models$ | async)?.length>0">
  <thead>
    <tr>      
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let model of (models$ | async)">      
      <td>{{ model.name }}</td>
      <td>{{ model.address }}</td>
      <td>{{ model.phone }}</td>
      <td><a [routerLink]="['/mga/edit', model.id]" class="btn btn-primary btn-sm float-right">Edit</a></td>
      <td><a [routerLink]="" (click)="delete(model.id)" class="btn btn-danger btn-sm float-right">Delete</a></td>
    </tr>
  </tbody>
</table>
